body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tabulka {
    border: 1px solid black;
}

.bunka {
    display: block;
    width: 2rem;
    height: 2rem;
    border: 1px solid dimgray;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.bunkaOdkryta {
    background-color: #EEEEEE;
}

.bunkaNeodkryta {
    background-color: #CCCCCC;
    cursor: pointer;
    color: red;
}


.mina {
    background-color: black;
    color: white;
}

.svitit {
    background-color: red;
}

.cislo-1 {
    color: blue;
}

.cislo-2 {
    color: green;
}

.cislo-3 {
    color: red;
}

.cislo-4 {
    color: navy;
}

.cislo-5 {
    color: darkred;
}

.cislo-6 {
    color: darkcyan;
}

.cislo-7 {
    color: black;
}

.cislo-8 {
    color: gray;
}


h3 {
    font-size: 3rem;
}

    h3.prohra {
        color: red;
    }

    h3.vyhra {
        color: green;
    }
