@page "/second/{Jmeno?}"
@model WebApplication2.Pages.DruhaModel
@{
}

<h1>Druhá stránka</h1>
<p>Ahoj @(Model.Jmeno ?? "Bezejmenný")</p>

<form>
    <input type="text" placeholder="Jméno" id="jmeno" name="jmeno" 
           class="form-control w-25 me-3 d-inline-block" />
    <button type="submit" class="btn btn-primary">Pozdrav</button>
</form>