@page "/cloudcounter"
@using BlazorApp3_Server.Data;

<PageTitle>Cloud Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private static int currentCount = 0;

    private void IncrementCount()
    {
        lock (Messager.Current)
        {
            currentCount++;
        }
        Messager.Current.Changed();
    }

    protected override Task OnInitializedAsync()
    {
        Messager.Current.OnMessage += RefreshCount;  
        return base.OnInitializedAsync();
    }

    void RefreshCount(object sender, EventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }
}
